/* ~~~ COLORS ~~~ */
$lightest: hsl(255, 80%, 97%);
$light: hsl(255, 60%, 90%);
$medium-light: hsl(255, 30%, 80%);
$medium: hsl(255, 23%, 60%);
$medium-dark: hsl(250, 28%, 40%);
$dark: hsl(250, 35%, 27%);
$darkest: hsl(250, 50%, 15%);
$contrast-lightest: hsl(55, 40%, 90%);
$contrast-light: hsl(55, 40%, 78%);
$contrast-medium-light: hsl(55, 40%, 65%);
$contrast-medium: hsl(55, 50%, 50%);
$contrast-medium-dark: hsl(55, 70%, 40%);
$contrast-dark: hsl(55, 80%, 30%);
$contrast-darkest: hsl(55, 80%, 20%);
$warning-dark: hsl(0, 55%, 35%);
$warning-medium: hsl(0, 55%, 50%);
$warning-light: hsl(0, 75%, 62%);
$warning-lightest: hsl(0, 70%, 74%);

$pending-light: hsl(20, 90%, 70%);
$pending-dark: hsl(20, 83%, 58%);

$ongoing-light: hsl(60, 90%, 70%);
$ongoing-dark: hsl(60, 60%, 60%);

$done-light: hsl(120, 80%, 70%);
$done-dark: hsl(120, 38%, 55%);

$grey-lightest: hsl(255, 11%, 90%);
$grey-light: hsl(255, 11%, 78%);
$grey-medium-light: hsl(255, 11%, 65%);
$grey-medium: hsl(255, 11%, 50%);
$grey-medium-dark: hsl(255, 11%, 40%);
$grey-dark: hsl(255, 11%, 30%);
$grey-darkest: hsl(255, 11%, 20%);

/* ~~~ FONT ~~~ */
$small-font-size: 12px;
$font-size: 16px;
$large-font-size: 18px;
$largest-font-size: 50px;
$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

/* ~~~ OTHER ~~~ */
$header-height: 90px;
$popup-width: 300px;
