/* ~~~ COLORS ~~~ */
$lightest: hsl(255, 80%, 96%);
$light: hsl(255, 60%, 90%);
$medium-light: hsl(255, 30%, 80%);
$medium: hsl(255, 23%, 60%);
$medium-dark: hsl(250, 28%, 40%);
$dark: hsl(250, 35%, 27%);
$darkest: hsl(250, 50%, 15%);

$warning-dark: hsl(4, 85%, 31%);
$warning-medium: hsl(4, 65%, 52%);
$warning-light: hsl(4, 75%, 65%);
$warning-lightest: hsl(4, 70%, 79%);

$pending-light: hsl(326, 84%, 84%);
$pending-dark: hsl(255, 15%, 45%);

$ongoing-light: hsl(60, 95%, 75%);
$ongoing-dark: hsl(215, 45%, 72%);

$done-light: hsl(120, 85%, 78%);
$done-dark: hsl(180, 42%, 65%);

$link-color: hsl(237, 100%, 70%);

$grey-lightest: hsl(255, 11%, 90%);
$grey-light: hsl(255, 11%, 78%);
$grey-medium-light: hsl(255, 11%, 65%);
$grey-medium: hsl(255, 11%, 50%);
$grey-medium-dark: hsl(255, 11%, 40%);
$grey-dark: hsl(255, 11%, 30%);
$grey-darkest: hsl(255, 11%, 20%);

/* ~~~ FONT ~~~ */
$small-font-size: 14px;
$font-size: 16px;
$large-font-size: 18px;
$largest-font-size: 50px;
$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$base-font: Arial, sans-serif;

/* ~~~ OTHER ~~~ */
$header-height: 90px;
$popup-width: 300px;
