@use "constants" as *;

/* ------------ */
/* LIGHT THEME  */
/* ------------ */

.light {
  #root,
  header,
  #header-background,
  .content,
  footer {
    color: $dark;
    background-color: white;
  }

  .link {
    color: darken($link-color, 3%);
    &:hover {
      color: $link-color;
    }
  }

  #main-menu-button {
    background-color: $lightest;
    box-shadow: 0 0 10px $medium-light;
    color: $dark;
    &:hover {
      background-color: white;
    }
    &:active {
      background-color: $lightest;
      box-shadow: none;
    }
  }

  #profile-menu-button {
    border: none;
    background-color: $light;
    color: $dark;
    &:hover {
      border: none;
      background-color: $medium-light;
    }
  }

  .menu-list {
    /*background: linear-gradient(180deg, $light, $lightest 2%);*/
    background: $lightest;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    /*background: $lightest;*/
    .menu-slot {
      color: $medium-dark;
    }
    .menu-slot:hover {
      background-color: $light;
    }
  }

  input,
  textarea,
  select {
    background-color: white;
    color: $darkest;
    border-color: $medium-light;
    &:active,
    &:focus {
      outline: 2px solid $medium-light;
    }
  }
  select {
    &.inactive-input,
    .new-category-option {
      background-color: $lightest;
    }
    option {
      background-color: white;
    }
  }

  button {
    border: none;
    color: $darkest;
    background-color: $light;
    &:hover {
      border: none;
      background-color: darken($light, 3%);
    }
  }

  .cancel-button {
    background-color: $grey-light;
    &:hover {
      background-color: darken($grey-light, 5%);
    }
  }

  #delete-account-button {
    background-color: $warning-lightest;
    &:hover {
      background-color: darken($warning-lightest, 3%);
    }
  }

  #terms-of-service-container {
    border-color: $light;
    background-color: white;
    color: $darkest;
    h2,
    strong {
      color: $dark;
    }
  }

  .popup {
    .popup-box {
      background-color: white;
      color: $dark;
    }
    .popup-title {
      background-color: $medium-light;
    }
  }

  #tasks-container-border {
    &::before,
    &::after {
      box-shadow: inset 0px 10px 5px white, inset 0px -10px 5px white;
    }
    .scroll-indicator {
      background-color: $light;
      &.top {
        box-shadow: 0 -0 10px 4px white;
      }
      &.bottom {
        box-shadow: 0 -1px 10px 4px white;
      }
      color: $medium-dark;
    }
  }
  .task-cell {
    background-color: white;
    label {
      color: $medium-dark;
    }
    .task-header {
      .task-title {
        color: $dark;
        .urgent.priority-mark {
          color: darken($warning-light, 20%);
        }
        .high.priority-mark {
          color: darken($warning-light, 10%);
        }
        .medium.priority-mark {
          color: $dark;
        }
        .low.priority-mark {
          color: $pending-dark;
        }
        .status-mark.check {
          color: darken($done-light, 20%);
        }
        .status-mark.ongoing {
          color: darken($ongoing-light, 30%);
        }
        .status-mark.pending {
          color: lighten($pending-dark, 40%);
        }
      }
    }
    .task-content {
      .task-info-subtitle {
        color: $medium-dark;
      }
      .task-status-container {
        color: $grey-darkest;
        .task-status {
          &:hover {
            cursor: pointer;
          }
        }
        .pending-status {
          background-color: rgba(
            red($pending-light),
            green($pending-light),
            blue($pending-light),
            0.4
          );
          &.current-status {
            background-color: $pending-light;
          }
        }
        .ongoing-status {
          background-color: rgba(
            red($ongoing-light),
            green($ongoing-light),
            blue($ongoing-light),
            0.4
          );
          &.current-status {
            background-color: $ongoing-light;
          }
        }
        .done-status {
          background-color: rgba(
            red($done-light),
            green($done-light),
            blue($done-light),
            0.4
          );
          &.current-status {
            background-color: $done-light;
          }
        }
      }
      .delete-task-btn {
        background-color: $warning-lightest;
        color: $darkest;
        &:hover {
          background-color: darken($warning-lightest, 3%);
        }
      }
    }
  }

  .alert-text {
    color: $warning-medium;
  }

  .error-status {
    color: darken($warning-medium, 10%);
  }
}

/* ------------ */
/*  DARK THEME  */
/* ------------ */

.dark {
  #root,
  header,
  #header-background,
  .content,
  footer {
    background-color: $darkest;
    color: $light;
  }

  .link {
    color: lighten($link-color, 3%);
    &:hover {
      color: lighten($link-color, 6%);
    }
  }

  #main-menu-button {
    background-color: $dark;
    color: $light;
    &:hover {
      background-color: $medium-dark;
    }
    &:active {
      background-color: $dark;
    }
  }

  #profile-menu-button {
    background-color: $medium-dark;
    color: $light;
    &:hover {
      background-color: lighten($medium-dark, 10%);
    }
    &:active {
      background-color: $medium-dark;
    }
  }

  .menu-list {
    /*background: linear-gradient(180deg, $dark, $medium-dark 5%);*/
    background: $medium-dark;
    .menu-slot {
      color: $lightest;
    }
    .menu-slot:hover {
      background-color: $medium;
      color: white;
    }
  }

  input,
  textarea,
  select {
    background-color: $dark;
    color: $lightest;
    border: none;
    &:active,
    &:focus {
      outline: 2px solid lighten($medium, 10%);
    }
  }

  button {
    background-color: $medium-dark;
    color: $lightest;
    border: none;
    &:hover {
      border: none;
      background-color: lighten($medium-dark, 10%);
    }
  }

  .cancel-button {
    background-color: $pending-dark;
    &:hover {
      background-color: lighten($pending-dark, 8%);
    }
  }

  #delete-account-button {
    background-color: $warning-medium;
    &:hover {
      background-color: lighten($warning-medium, 3%);
    }
  }

  #terms-of-service-container {
    border-color: darken($medium, 8%);
    background-color: $dark;
    color: $light;
    h2,
    strong {
      color: $lightest;
    }
  }

  .popup {
    .popup-box {
      background-color: lighten($darkest, 5%);
      color: $lightest;
    }
    .popup-title {
      background-color: $medium-dark;
    }
    select {
      &.inactive-input,
      .new-category-option {
        background-color: lighten($dark, 10%);
      }
      option {
        background-color: $dark;
      }
    }
  }

  #tasks-container-border {
    &::before,
    &::after {
      box-shadow: inset 0px 10px 5px $darkest, inset 0px -10px 5px $darkest;
    }
    .scroll-indicator {
      background-color: darken($medium, 5%);
      &.top {
        box-shadow: 0 -0 9px $darkest;
      }
      &.bottom {
        box-shadow: 0 -1px 9px $darkest;
      }
      color: white;
    }
  }
  .task-cell {
    background-color: $dark;
    input,
    textarea,
    select {
      background-color: $medium-dark;
    }
    .task-header {
      .task-title {
        color: $lightest;
        .urgent.priority-mark {
          color: lighten($warning-dark, 23%);
        }
        .high.priority-mark {
          color: darken($warning-light, 12%);
        }
        .medium.priority-mark {
          color: $dark;
        }
        .low.priority-mark {
          color: lighten($pending-dark, 15%);
        }
        .status-mark.check {
          color: $done-dark;
        }
        .status-mark.ongoing {
          color: darken($ongoing-dark, 20%);
        }
        .status-mark.pending {
          color: $pending-dark;
        }
      }
    }
    .task-content {
      .task-info-subtitle {
        color: $lightest;
      }
      .edit-task-category-container {
        select {
          &.inactive-input,
          .new-category-option {
            background-color: darken($medium-dark, 5%);
          }
          option {
            background-color: $medium-dark;
          }
        }
      }
      .task-status-container {
        color: $medium-light;
        .task-status {
          &:hover {
            cursor: pointer;
          }
        }
        .current-status {
          color: $lightest;
        }
        .pending-status {
          background-color: rgba(
            red($pending-dark),
            green($pending-dark),
            blue($pending-dark),
            0.2
          );
          &.current-status {
            background-color: $pending-dark;
            color: white;
          }
        }
        .ongoing-status {
          background-color: rgba(
            red($ongoing-dark),
            green($ongoing-dark),
            blue($ongoing-dark),
            0.2
          );
          &.current-status {
            background-color: $ongoing-dark;
            color: $grey-darkest;
          }
        }
        .done-status {
          background-color: rgba(
            red($done-dark),
            green($done-dark),
            blue($done-dark),
            0.2
          );
          &.current-status {
            background-color: $done-dark;
            color: $grey-dark;
          }
        }
      }
      .delete-task-btn {
        background-color: $warning-medium;
        color: white;
        &:hover {
          background-color: darken($warning-medium, 3%);
        }
      }
    }
  }

  .alert-text {
    color: $warning-light;
  }

  .error-status {
    color: lighten($warning-medium, 3%);
  }
}
