@use "constants" as *;

/* ------------ */
/* LIGHT THEME  */
/* ------------ */

.light {
  #root,
  header,
  #header-background,
  .content,
  footer {
    color: $dark;
    background-color: white;
  }

  #main-menu-button {
    background-color: $lightest;
    box-shadow: 0 0 10px $medium-light;
    color: $dark;
    &:hover {
      background-color: white;
    }
    &:active {
      background-color: $lightest;
      box-shadow: none;
    }
  }

  #profile-menu-button {
    border: none;
    background-color: $light;
    color: $dark;
    &:hover {
      border: none;
      background-color: $medium-light;
    }
  }

  .menu-list {
    /*background: linear-gradient(180deg, $light, $lightest 2%);*/
    background: $lightest;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    /*background: $lightest;*/
    .menu-slot {
      color: $medium-dark;
    }
    .menu-slot:hover {
      background-color: $light;
    }
  }

  input[type="text"],
  input[type="password"] {
    background-color: white;
    color: $darkest;
    border: 1px solid $medium-light;
    &:active,
    &:focus {
      outline: 2px solid $medium-light;
    }
  }

  button {
    border: none;
    color: $darkest;
    background-color: $light;
    &:hover {
      border: none;
      background-color: darken($light, 3%);
    }
  }

  #delete-account-button {
    background-color: hsl(0, 70%, 74%);
    &:hover {
      background-color: hsl(0, 70%, 71%);
    }
  }
}

/* ------------ */
/*  DARK THEME  */
/* ------------ */

.dark {
  #root,
  header,
  #header-background,
  .content,
  footer {
    background-color: $darkest;
    color: $light;
  }

  #main-menu-button {
    background-color: $dark;
    color: $light;
    &:hover {
      background-color: $medium-dark;
    }
    &:active {
      background-color: $dark;
    }
  }

  #profile-menu-button {
    background-color: $medium-dark;
    color: $light;
    &:hover {
      background-color: lighten($medium-dark, 10%);
    }
    &:active {
      background-color: $medium-dark;
    }
  }

  .menu-list {
    /*background: linear-gradient(180deg, $dark, $medium-dark 5%);*/
    background: $medium-dark;
    .menu-slot {
      color: $lightest;
    }
    .menu-slot:hover {
      background-color: $medium;
      color: white;
    }
  }

  input[type="text"],
  input[type="password"] {
    background-color: $dark;
    color: $lightest;
    border: none;
    &:active,
    &:focus {
      outline: 2px solid lighten($medium, 10%);
    }
  }

  button {
    background-color: $medium-dark;
    color: $lightest;
    border: none;
    &:hover {
      border: none;
      background-color: lighten($medium-dark, 10%);
    }
  }

  #delete-account-button {
    background-color: hsl(0, 55%, 50%);
    &:hover {
      background-color: hsl(0, 55%, 55%);
    }
  }
}
