@use "constants" as *;
@use "theme-colors";

/* -------------- */
/* GENERAL STYLES */
/* -------------- */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  button {
    margin-top: 15px;
  }
}

input,
select {
  border: 1px solid;
  border-radius: 2px;
  height: 22px;
  width: 160px;
  font-family: $font-family;
}

.italic {
  font-style: italic;
}

textarea {
  border: 1px solid;
  border-radius: 4px;
  resize: vertical;
  font-family: $font-family;
}

select {
  margin: 2px 0 5px;
}

h2 {
  margin: 10vh 0 30px;
}

.link {
  font-weight: 500;
  text-decoration: inherit;
  &:hover {
    cursor: pointer;
  }
}

button {
  border-radius: 8px;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  width: 105px;
  cursor: pointer;
  &:hover {
    transition: background-color 0.2s;
  }
}

.large-btn-pair {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px auto 15px;
  padding: 0 20px;
  width: 280px;
}

.small-btn-pair {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 130px;
  & > * {
    margin: 5px auto 0;
    padding: 0 0 2px;
    width: 58px;
    height: 28px;
  }
}

.content {
  position: relative;
  top: $header-height;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: start;
  left: 0;
  width: 100vw;
  min-height: calc(100vh - $header-height);
  height: fit-content;
  padding: 0 15vw 40px;
  margin: 0;
}

.left-aligned-form {
  align-items: start;
}

.inline-button {
  height: 28px;
  width: 62px;
  margin: 0 10px;
  padding: 0 0 4px;
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8888;
  &.loading-overlay {
    z-index: 99998;
  }
}

#loading-img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  z-index: 99999;
}

/* -------------- */
/*     HEADER     */
/* -------------- */

header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: $header-height;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  /*box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);*/
  /*border: 1px solid red;*/

  #main-title {
    position: relative;
    text-align: center;
    font-size: $largest-font-size;
    margin-top: 35px;
    z-index: 1;
  }

  #header-background {
    width: 100vw;
    height: $header-height;
    position: absolute;
    z-index: -3;
  }

  .menu-list {
    position: fixed;
    top: $header-height;
    margin: -5px 0 0 0;
    padding: 10px 0 10px;
    display: block;
    z-index: 1;
    .menu-slot {
      display: block;
      width: 220px;
      height: 40px;
      padding: 8px 30px 12px 20px;
      font-weight: 500;
      text-decoration: none;
    }
    li {
      list-style-type: none;
    }
  }

  #main-menu-button {
    position: relative;
    margin-left: 10px;
    width: 60px;
    height: 50px;
    border-radius: 5px;
    /*box-shadow: 0 0 8px var(--medium-light);*/
    text-align: center;
    font-size: 45px;
    font-family: "Arial", sans-serif;
    line-height: 48px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    z-index: 1;
    &:hover {
      transition: background-color 0.2s;
    }
  }

  #main-menu-list {
    left: 10px;
    border-radius: 0 5px 5px 3px;
  }

  #profile-menu-button {
    position: relative;
    margin-right: 10px;
    height: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    vertical-align: center;
    text-align: center;
    line-height: 43px;
    font-size: 30px;
    font-family: "Arial", sans-serif;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    z-index: 1;
    &:hover {
      transition: background-color 0.2s;
    }
  }

  #profile-menu-list {
    right: 10px;
    border-radius: 5px 0 0 5px;
  }
}

hr {
  position: fixed;
  top: $header-height;
  left: 50%;
  transform: translate(-50%);
  display: block;
  margin: 0 auto;
  height: 2px;
  width: 80vw;
  border: none;
  background-image: linear-gradient(
    90deg,
    hsla(0, 100%, 100%, 0),
    $medium,
    hsla(0, 100%, 100%, 0)
  );
  z-index: 1;
}

/* ---------------- */
/* PROFILE SETTINGS */
/* ---------------- */

#profile-settings-forms {
  & > * {
    margin-bottom: 10px;
  }
  #username-in-profile {
    text-align: center;
    width: 100%;
    margin-top: 0;
  }
  #delete-account-button {
    border-radius: 5px;
    width: 146px;
    height: 36px;
    padding: 0 0 2px;
    margin-top: 23px;
  }
}

/* -------------- */
/*    MY TASKS    */
/* -------------- */

#add-task-button {
  margin: 20px;
}

#filter-sort-tasks-container {
  label {
    width: 65px;
    text-align: right;
    height: 22px;
    line-height: 19px;
  }
  #sort-tasks-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-bottom: 10px;
    #select-sort-by {
      width: 120px !important;
      margin: auto 5px;
    }
    #select-sort-order {
      width: 105px;
      margin: auto 0;
    }
  }
  #filter-tasks-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: fit-content;
    #select-filter-by-field {
      width: 120px !important;
      min-width: 120px !important;
      margin: 0 5px;
    }
    #select-filter-value-dates-between {
      display: flex;
      flex-wrap: wrap;
      width: 172px;
      text-align: right;
      padding: 0;

      label {
        width: 45px;
      }
      input {
        width: 120px !important;
        margin-left: 5px;
        &:first-of-type {
          margin-bottom: 4px;
        }
      }
    }
    #select-filter-by-field-value {
      width: 105px;
      margin: auto 0;
    }
  }
  #filter-by-keyword-form {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin: 10px auto 15px;
    label {
      width: fit-content;
      margin-right: 5px;
    }
  }
}

.task-cell {
  /*border: 2px solid grey;*/
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
  width: 350px;
  margin-bottom: 7px;
  label {
    font-weight: bold;
    text-align: left;
  }
  .task-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .task-title {
      text-align: left;
      margin: 0;
      margin-left: 3px;
      width: 85%;
      .check-mark,
      .ongoing-mark,
      .pending-mark {
        font-size: 22px;
        font-family: Arial, sans-serif;
        line-height: 1em;
        vertical-align: baseline;
      }
    }
    .edit-task-title-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 5px;
      .edit-task-title-input {
        font-size: 1rem;
        width: 250px;
        height: 30px;
        margin-top: 3px;
        padding: 2px 5px;
      }
    }
    .expand-collapse {
      width: 30px;
      aspect-ratio: 1/1;
      padding: 0 0 3px;
      font-family: "Arial" sans-serif;
      font-size: 16px;
      text-align: center;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .task-content {
    padding: 5px 12px;
    text-align: left;
    & > * {
      margin-top: 8px;
    }
    .task-info-subtitle {
      font-weight: bold;
    }
    .task-text {
      .edit-task-text-btn {
        cursor: pointer;
      }
    }
    .edit-task-text-container {
      display: flex;
      flex-direction: column;
      .edit-task-text-area {
        width: 100%;
        height: 80px;
        padding: 2px 5px;
      }
    }
    .edit-task-category-container {
      select,
      input {
        width: 200px;
      }
      .small-btn-pair {
        margin: 2px 0;
      }
    }
    .task-status-container {
      display: flex;
      flex-direction: row;
      margin: 14px auto 8px;
      justify-content: space-between;
      align-items: center;
      width: 260px;
      .task-status {
        border-radius: 5px;
        width: 80px;
        height: 28px;
        text-align: center;
        padding-top: 1px;
      }
      .current-status {
        font-weight: bold;
        height: 32px;
        padding-top: 3px;
      }
    }
    .small-btn-pair {
      margin: 10px auto 0;
    }
  }
}

/* ----------- */
/*    ABOUT    */
/* ----------- */

#contact-info {
  width: 100vw;
  height: 120px;
  padding-top: 8vh;
  text-align: center;
}

#about {
  padding-top: 10vh;
}

/* ------------ */
/*    NO PAGE   */
/* ------------ */

#no-page {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  top: 0;
}

/* ------------- */
/*     POPUP     */
/* ------------- */

.popup {
  .popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: 90vh;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
    overflow-y: auto;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: $popup-width;
    border-radius: 5px;

    .popup-title {
      margin: 3px;
      padding: 3px 10px 5px;
      text-align: center;
      border-radius: 3px 3px 0 0;
    }

    .popup-content {
      margin: 15px 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .confirm-btn {
      display: block;
      margin: 15px auto 15px;
    }
  }
}

#new-task-form {
  input,
  textarea,
  select {
    width: calc($popup-width - 60px);
  }
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
